src/powerAutomate/AppUserList/.unpacked/Microsoft.Flow/flows/2d7505ba-bc23-4900-b533-a37064789a15/definition.json
{"name":"97c29ec4-89e6-4b9c-9417-28b74c622520","id":"/providers/Microsoft.Flow/flows/97c29ec4-89e6-4b9c-9417-28b74c622520","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"578EHRMTrainingApp_AppUserList","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ec4f9b5d-fe24-466f-a4af-0d030edc3f90","type":"User","tenantId":"e95f1b23-abaf-45ee-821d-b7ab251ab3bf"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-01-02T16:40:23.8642982Z","connectionKeySavedTimeKey":"2026-01-02T16:40:23.8642982Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"evaluatedRecurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?.value","metadata":{"operationMetadataId":"8f3bcd4b-4c75-48e7-829d-24465c8feeae","flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/HinesInformatics&AdvancedAnalytics/578_EHRM_TrainingApp'))}/tables/@{encodeURIComponent(encodeURIComponent('bef22a0b-4da8-4784-badc-b72c9f4457e1'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"GetUserProfile(emailText)":{"runAfter":{"Delay(5,_second)_A":["Succeeded"]},"metadata":{"operationMetadataId":"932caaf0-b63c-45c7-b8e1-5f025d8039b8","flowSystemMetadata":{"swaggerOperationId":"UserProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/office365users"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(toLower(triggerBody()?['Email_Text']))}","authentication":"@parameters('$authentication')"}},"Delay(5,_second)_A":{"runAfter":{},"metadata":{"operationMetadataId":"99c685de-7cc2-40c1-bfcd-efc84fe44042"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Condition(AccessLevel_Text_=_\"AppAdmin\")":{"actions":{"SendEmail(User,_\"AdminAccessGranted\")":{"runAfter":{},"metadata":{"operationMetadataId":"ffd65416-5109-4a79-b987-0e8cc1a191e8","flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sendmail']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sendmail"}},"method":"post","body":{"to":"@{body('Get_Item')?['Author']?['Email']};","subject":"You have been granted ADMIN access to the '578 EHRM Training App'!","text":"<p style=\"margin:0 0 16px 0; text-align:center;\">\n  <span style=\"color: rgb(226,80,65)\">[</span>\n  <span style=\"color: rgb(226,80,65)\"><strong>DO NOT REPLY - AUTOMATICALLY GENERATED EMAIL</strong></span>\n  <span style=\"color: rgb(226,80,65)\">]</span>\n</p>\n  <br /><br />\n  Hello @{body('Get_item')?['GivenName_Text']},<br /><br />\n  You have been approved for ADMIN access to the\n  '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/d0958d55-fe85-425c-83f6-03c659bf4079\">578 EHRM Training App</a>' by a manager/admin at the Edward Hines Jr. VA Hospital! Please see the details below regarding the new level of advanced access that you have been granted:\n</p>\n\n<table\n  style=\"\n    margin: 16px auto;\n    border-collapse: collapse;\n    border: 3px solid #ffffff;\n    background-color: #111111;\n    width: 600px;\n    table-layout: fixed;\n    font-family: Arial, sans-serif;\n    font-size: 14px;\n  \">\n  <colgroup>\n    <col style=\"width: 170px;\" />\n    <col style=\"width: 430px;\" />\n  </colgroup>\n\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Name</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{toUpper(body('Get_item')?['DisplayName_Text'])}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Email</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_item')?['UserPrincipleName_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Account Name</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_Item')?['MailNickname_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Level</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_item')?['AccessLevel_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Granted By</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{toUpper(body('Get_Item')?['Author']?['DisplayName']\n)}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Granted Date/Time</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>\n        @{formatDateTime(\n            body('Get_item')?['AccessStart_dateTime'],\n            'MMMM d, yyyy ''at'' h:mmtt'\n        )}\n      </i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Expiration Date/Time</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>\n        @{formatDateTime(\n            body('Get_item')?['AccessStop_dateTime'],\n            'MMMM d, yyyy ''at'' h:mmtt'\n        )}\n      </i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">App Link:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444; word-wrap:break-word; overflow-wrap:break-word;\">\n      <i>\n        <a href=\"https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\"\n           style=\"color:#4ea3ff; text-decoration:underline;\">\n          https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\n        </a>\n      </i>\n    </td>\n  </tr>\n</table>\n<br>\n<p style=\"margin:16px 0 0 0;\">\n  If you have any questions, concerns, or would like more information about the new advanced access level you have been granted within the '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/d0958d55-fe85-425c-83f6-03c659bf4079\">578 EHRM Training App</a>', then please contact the manager/admin who approved your new access\n  (<b><u>@{body('Get_item')?['Author']?['Email']}</u></b>).\n  Additional support or instructions are available on the Hines EHRM Deployment SharePoint site:\n  <a href=\"https://dvagov.sharepoint.com/sites/HinesEHRM\">\n    <u><em><strong>https://dvagov.sharepoint.com/sites/HinesEHRM</strong></em></u>\n  </a>\n  <br /><br />\n  Thank you,<br /><br />\n  <a href=\"mailto:hinesehrmclt@va.gov\">Hines EHRM Change Leadership Team</a>\n  <br /><br />\n  <br>\n  <span style=\"font-family: arial; font-size: 8px;\">\n------------------------------------------------------------------------------------------</span><br />\n  <span style=\"font-size: 8px;\">Automated message, sent via PowerAutomate flow #</span>\n  <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/flows/97c29ec4-89e6-4b9c-9417-28b74c622520/details\" class=\"editor-link\">\n    <span style=\"font-size: 8px;\">97c29ec4-89e6-4b9c-9417-28b74c622520</span>\n  </a>\n  <span style=\"font-size: 8px;\"> step named [SendEmail(User, \"AdminAccessGranted\")].</span>\n</p>","ishtml":true,"bcc":"kyle.coder@va.gov"},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Item":["Succeeded"]},"expression":{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","AppAdmin"]},"metadata":{"operationMetadataId":"4e894828-9a63-4100-b6f4-ae3612e3548e"},"type":"If"},"Condition(AccessLevel_Text_=_\"AccessDenied\"_||_\"View-only\"_||_\"User\")":{"actions":{"Delay(5,_second)_D":{"runAfter":{},"metadata":{"operationMetadataId":"355a6c53-cab8-42f5-af1e-bf49ee56c75a"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Post_message_in_a_chat_or_channel":{"runAfter":{"Delay(180,_second)":["Succeeded"]},"metadata":{"operationMetadataId":"e07ad9bb-7b2a-4762-aa33-d4c921e42c98","flowSystemMetadata":{"swaggerOperationId":"PostMessageToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/teams"}},"method":"post","body":{"recipient":"Kyle.Coder@va.gov;","messageBody":"<p>SUCCESS!\n\nThe following message was transmitted to @{body('Get_Item')?['Author']?['Email']} via the flow step named [\"Post adaptive card and wait for a response\"]:\n<br>\n<br>\n<br>\n</p>\n","isAlert":true},"path":"/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}","authentication":"@parameters('$authentication')"}},"Post_adaptive_card_and_wait_for_a_response":{"runAfter":{"Delay(5,_second)_D":["Succeeded"]},"metadata":{"operationMetadataId":"4967542c-0e17-44cb-a5aa-53154999bf7e","flowSystemMetadata":{"swaggerOperationId":"PostCardAndWaitForResponse"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/teams"}},"body":{"notificationUrl":"@{listCallbackUrl()}","body":{"messageBody":"{\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"Container\",\n      \"style\": \"accent\",\n      \"bleed\": true,\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"✅ Your access to the '578 EHRM Training App' has been APPROVED!\",\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"wrap\": true\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Review the information below about the advanced access to the '578 EHRM Training App' that you have now been granted:\",\n          \"spacing\": \"None\",\n          \"isSubtle\": true,\n          \"wrap\": true\n        }\n      ]\n    },\n    {\n      \"type\": \"Container\",\n      \"spacing\": \"Small\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Status:\",\n                  \"weight\": \"Bolder\",\n                  \"spacing\": \"None\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Approved\",\n                  \"color\": \"Good\",\n                  \"weight\": \"Bolder\",\n                  \"spacing\": \"None\"\n                }\n              ],\n              \"verticalContentAlignment\": \"Center\"\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"horizontalAlignment\": \"Right\",\n                  \"text\": \"578 EHRM Training App\",\n                  \"isSubtle\": true,\n                  \"spacing\": \"None\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"Container\",\n      \"spacing\": \"Medium\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"FactSet\",\n                  \"facts\": [\n                    {\n                      \"title\": \"User's Name:\",\n                      \"value\": \"   @{toUpper(body('Get_item')?['DisplayName_Text'])}\"\n                    },\n                    {\n                      \"title\": \"User's Email:\",\n                      \"value\": \"   @{body('Get_item')?['UserPrincipleName_Text']}\"\n                    },\n                    {\n                      \"title\": \"New Access Level:\",\n                      \"value\": \"   @{body('Get_item')?['AccessLevel_Text']}\"\n                    }\n                  ]\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"FactSet\",\n                  \"facts\": [\n                    {\n                      \"title\": \"Accessed Approved By:\",\n                      \"value\": \"   @{body('Get_item')?['Author']?['DisplayName']}\"\n                    },\n                    {\n                      \"title\": \"Access Approved Date:\",\n                      \"value\": \"   @{formatDateTime(body('Get_item')?['AccessStart_dateTime'], 'MMMM d, yyyy ''at'' h:mmtt')}\"\n                    },\n                    {\n                      \"title\": \"Access Review/Expiration Date:\",\n                      \"value\": \"   @{formatDateTime(body('Get_item')?['AccessStop_dateTime'], 'MMMM d, yyyy ''at'' h:mmtt')}\"\n                    }\n                  ]\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"type\": \"Container\",\n      \"spacing\": \"Medium\",\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"If you have any questions, concerns, or would like more information about the new access level you have been granted, then please contact the manager/admin who approved your new access (@{body('Get_item')?['Author']?['Email']}).\",\n          \"weight\": \"Bolder\",\n          \"spacing\": \"Small\",\n          \"wrap\": true\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Additional support & instructions are available on the Edward Hines Jr. VA Hospital's EHRM Deployment SharePoint site:\",\n          \"weight\": \"Bolder\",\n          \"spacing\": \"None\",\n          \"wrap\": true\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"[Hines EHRM SharePoint site](https://dvagov.sharepoint.com/sites/HinesEHRM)\",\n          \"wrap\": true,\n          \"color\": \"Accent\",\n          \"spacing\": \"None\"\n        }\n      ]\n    }\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Open the '578 EHRM Training App'!\",\n      \"style\": \"positive\",\n      \"url\": \"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/d0958d55-fe85-425c-83f6-03c659bf4079\"\n    }\n  ]\n}\n","updateMessage":"Thank you!","recipient":{"to":"@{body('Get_Item')?['Author']?['Email']};","isAlert":true}}},"path":"/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Chat with Flow bot')}/$subscriptions","authentication":"@parameters('$authentication')"}},"Delay(180,_second)":{"runAfter":{"Post_adaptive_card_and_wait_for_a_response":["Succeeded"]},"metadata":{"operationMetadataId":"355a6c53-cab8-42f5-af1e-bf49ee56c75a"},"type":"Wait","inputs":{"interval":{"count":180,"unit":"Second"}}}},"runAfter":{"Get_Item":["Succeeded"]},"expression":{"or":[{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","AccessDenied"]},{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","View-only"]},{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","User"]}]},"metadata":{"operationMetadataId":"49e6c078-584e-4b27-b1b5-cecf32000e0c"},"type":"If"},"Condition(AccessLevel_Text_!=_\"AccessDenied\"||\"View-only\"||\"User\"||\"AppAdmin\")":{"actions":{"SendEmail(User,_\"AdvancedAccessGranted\")":{"runAfter":{},"metadata":{"operationMetadataId":"3531a1b7-ce22-4a9a-a925-d89281d7fc64","flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sendmail']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sendmail"}},"method":"post","body":{"to":"@{body('Get_Item')?['Author']?['Email']};","subject":"You have been granted ADVANCED access to the '578 EHRM Training App'!","text":"<p style=\"margin:0 0 16px 0; text-align:center;\">\n  <span style=\"color: rgb(226,80,65)\">[</span>\n  <span style=\"color: rgb(226,80,65)\"><strong>DO NOT REPLY - AUTOMATICALLY GENERATED EMAIL</strong></span>\n  <span style=\"color: rgb(226,80,65)\">]</span>\n</p>\n  <br /><br />\n  Hello @{body('Get_item')?['GivenName_Text']},<br /><br />\n  You have been approved for ADVANCED access to the\n  '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/d0958d55-fe85-425c-83f6-03c659bf4079\">578 EHRM Training App</a>' by a manager/admin at the Edward Hines Jr. VA Hospital! Please see the details below regarding the new level of advanced access that you have been granted:\n</p>\n\n<table\n  style=\"\n    margin: 16px auto;\n    border-collapse: collapse;\n    border: 3px solid #ffffff;\n    background-color: #111111;\n    width: 600px;\n    table-layout: fixed;\n    font-family: Arial, sans-serif;\n    font-size: 14px;\n  \">\n  <colgroup>\n    <col style=\"width: 170px;\" />\n    <col style=\"width: 430px;\" />\n  </colgroup>\n\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Name</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{toUpper(body('Get_item')?['DisplayName_Text'])}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Email</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_item')?['UserPrincipleName_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Account Name</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_Item')?['MailNickname_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Level</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_item')?['AccessLevel_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Granted By</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{toUpper(body('Get_Item')?['Author']?['DisplayName']\n)}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Granted Date/Time</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>\n        @{formatDateTime(\n            body('Get_item')?['AccessStart_dateTime'],\n            'MMMM d, yyyy ''at'' h:mmtt'\n        )}\n      </i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Expiration Date/Time</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>\n        @{formatDateTime(\n            body('Get_item')?['AccessStop_dateTime'],\n            'MMMM d, yyyy ''at'' h:mmtt'\n        )}\n      </i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">App Link:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444; word-wrap:break-word; overflow-wrap:break-word;\">\n      <i>\n        <a href=\"https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\"\n           style=\"color:#4ea3ff; text-decoration:underline;\">\n          https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\n        </a>\n      </i>\n    </td>\n  </tr>\n</table>\n<br>\n<p style=\"margin:16px 0 0 0;\">\n  If you have any questions, concerns, or would like more information about the new advanced access level you have been granted within the '<a href=\"https://apps.gov.powerapps.us/play/e/default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/a/d0958d55-fe85-425c-83f6-03c659bf4079\">578 EHRM Training App</a>', then please contact the manager/admin who approved your new access\n  (<b><u>@{body('Get_item')?['Author']?['Email']}</u></b>).\n  Additional support & instructions are available on the Hines EHRM Deployment SharePoint site:\n  <a href=\"https://dvagov.sharepoint.com/sites/HinesEHRM\">\n    <u><em><strong>https://dvagov.sharepoint.com/sites/HinesEHRM</strong></em></u>\n  </a>\n  <br /><br />\n  Thank you,<br /><br />\n  <a href=\"mailto:hinesehrmclt@va.gov\">Hines EHRM Change Leadership Team</a>\n  <br /><br />\n  <br>\n  <span style=\"font-family: arial; font-size: 8px;\">\n------------------------------------------------------------------------------------------</span><br />\n  <span style=\"font-size: 8px;\">Automated message, sent via PowerAutomate flow #</span>\n  <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/flows/97c29ec4-89e6-4b9c-9417-28b74c622520/details\" class=\"editor-link\">\n    <span style=\"font-size: 8px;\">97c29ec4-89e6-4b9c-9417-28b74c622520</span>\n  </a>\n  <span style=\"font-size: 8px;\"> step named [SendEmail(User, \"AdvancedAccessGranted\")].</span>\n</p>","ishtml":true,"bcc":"kyle.coder@va.gov"},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Item":["Succeeded"]},"expression":{"or":[{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","SuperUser"]},{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","ProjectLeader"]},{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","Manager"]},{"equals":["@body('Get_Item')?['AccessLevel_Choice']?['Value']","ServiceChief"]}]},"metadata":{"operationMetadataId":"c15a0806-b3a5-4a08-8839-38602ea5a849"},"type":"If"},"SendEmail(User,_\"AccessGranted\")_AFTER_FAILURES":{"runAfter":{"Condition(AccessLevel_Text_!=_\"AccessDenied\"||\"View-only\"||\"User\"||\"AppAdmin\")":["Failed","TimedOut"],"Condition(AccessLevel_Text_=_\"AccessDenied\"_||_\"View-only\"_||_\"User\")":["Failed","TimedOut"],"Condition(AccessLevel_Text_=_\"AppAdmin\")":["Failed","TimedOut"]},"metadata":{"operationMetadataId":"adc82b47-32df-45b5-a298-ddfc62d6bc9b","flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sendmail']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sendmail"}},"method":"post","body":{"to":"@{body('Get_Item')?['Author']?['Email']};","subject":"[AUTOMATION FAILURE] Your recent advanced access request to the '578 EHRM Training App' has failed due to an automated workflow error!","text":"<p style=\"margin:0 0 16px 0; text-align:center;\">\n  <span style=\"color: rgb(226,80,65)\">[</span>\n  <span style=\"color: rgb(226,80,65)\"><strong>DO NOT REPLY - AUTOMATICALLY GENERATED EMAIL</strong></span>\n  <span style=\"color: rgb(226,80,65)\">]</span>\n</p>\n  <br /><br />\n  Hello @{body('Get_item')?['Author']?['Email']},<br /><br />\n  You recently attempted to create/modify/remove an advanced level of user access to the\n  '<a href=\"https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\">578 EHRM Training App</a>' for the the user:  <b><u>@{toUpper(body('Get_Item')['Email_Text'])}</u></b>. Unfortunately, the automated workflow process to process the change has failed due to an unexpected error. You can review this automated workflow failure via: <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/flows/97c29ec4-89e6-4b9c-9417-28b74c622520/runs\">Power Automate Run History - 578EHRMTrainingApp_AppUserList</a>.\n<br/>\nThis failure of this automated workflow is unable to be restarted within the current environment. To resolve, you must investigate & identify the root-cause error that triggered this failure. After that you should delete the erroneous row on relavent SharePoint list, and then add the user over again as a brand new item to the SharePoint list in order to trigger the automated workflow to run with the newly corrected column values. \n</p>\n<br/>\n<table\n  style=\"\n    margin: 16px auto;\n    border-collapse: collapse;\n    border: 3px solid #ffffff;\n    background-color: #111111;\n    width: 600px;\n    table-layout: fixed;\n    font-family: Arial, sans-serif;\n    font-size: 14px;\n  \">\n  <colgroup>\n    <col style=\"width: 170px;\" />\n    <col style=\"width: 430px;\" />\n  </colgroup>\n\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">User's Name:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{toUpper(body('Get_item')?['DisplayName_Text'])}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">User's Email:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_item')?['UserPrincipleName_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">User's Network Account:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_Item')?['MailNickname_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">New Access Level:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{body('Get_item')?['AccessLevel_Text']}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Access Approved By:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>@{toUpper(body('Get_Item')?['Author']?['DisplayName']\n)}</i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">Workflow Failure Date/Time:</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444;\">\n      <i>\n        @{formatDateTime(\n            body('Get_item')?['AccessStart_dateTime'],\n            'MMMM d, yyyy ''at'' h:mmtt'\n        )}\n      </i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">App Link</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444; word-wrap:break-word; overflow-wrap:break-word;\">\n      <i>\n        <a href=\"https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\"\n           style=\"color:#4ea3ff; text-decoration:underline;\">\n          https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\n        </a>\n      </i>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"font-weight:bold; padding:4px 4px; border:1px solid #444444;\">AppUserList - SharePoint List</td>\n    <td style=\"padding:4px 4px; border:1px solid #444444; word-wrap:break-word; overflow-wrap:break-word;\">\n      <i>\n        <a href=\"@{body('UpdateItem(emailText,_managerProfileDemographics)')?['{Link}']}\"\n           style=\"color:#4ea3ff; text-decoration:underline;\">\n          @{body('UpdateItem(emailText,_managerProfileDemographics)')?['{Link}']}\n        </a>\n      </i>\n    </td>\n  </tr>\n</table>\n<br>\n<p style=\"margin:16px 0 0 0;\">\n  If you have any questions, concerns, or would like more information about the '<a href=\"https://make.gov.powerapps.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/apps/d0958d55-fe85-425c-83f6-03c659bf4079/details\">578 EHRM Training App</a>', this <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/flows/97c29ec4-89e6-4b9c-9417-28b74c622520/details\">Power Automate</a> workflow, or the entire project's <a href=\"https://dvagov.sharepoint.com/sites/HinesInformatics&AdvancedAnalytics/578_EHRM_TrainingApp/_layouts/15/viewlsts.aspx?view=14\">centralized data storage</a> resources, then please contact the app developers at:   <b><u><a href=\"mailto:hinclinicalanalytics@va.gov\">Advanced Clinical Analytics Team</a></u></b>. Alternatively, additional support is available on the Clinical Informatics Service's SharePoint site:\n  <a href=\"https://dvagov.sharepoint.com/sites/vhahin/svc/ci\">\n    <u><em><strong>https://dvagov.sharepoint.com/sites/vhahin/svc/ci</strong></em></u>\n  </a>.\n  <br /><br /><br />\n  Thank you,<br /><br />\n  <a href=\"mailto:hinesehrmclt@va.gov\">Hines EHRM Change Leadership Team</a>\n  <br /><br />\n  <br>\n  <span style=\"font-family: arial; font-size: 8px;\">\n------------------------------------------------------------------------------------------</span><br />\n  <span style=\"font-size: 8px;\">Automated message, sent via PowerAutomate flow #</span>\n  <a href=\"https://make.gov.powerautomate.us/environments/Default-e95f1b23-abaf-45ee-821d-b7ab251ab3bf/flows/97c29ec4-89e6-4b9c-9417-28b74c622520/details\" class=\"editor-link\">\n    <span style=\"font-size: 8px;\">97c29ec4-89e6-4b9c-9417-28b74c622520</span>\n  </a>\n  <span style=\"font-size: 8px;\"> step named [SendEmail(User, \"AccessGranted\") AFTER FAILURES].</span>\n</p>","ishtml":true,"cc":"kyle.coder@va.gov","bcc":"kyle.coder@va.gov"},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}},"Get_Item":{"runAfter":{"Delay(30,_Second)":["Succeeded"]},"metadata":{"operationMetadataId":"8bf08562-eb7f-48e4-801a-e0ccaef39729","flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/HinesInformatics&AdvancedAnalytics/578_EHRM_TrainingApp'))}/tables/@{encodeURIComponent(encodeURIComponent('bef22a0b-4da8-4784-badc-b72c9f4457e1'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"Delay(30,_Second)":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"40193dfa-a15d-4915-a72b-364d6677c424"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}},"Update_item":{"runAfter":{"ApplyToEach(body(GetManagerProfile(emailText(Business_Phones))))":["Succeeded"]},"metadata":{"operationMetadataId":"7b2410ff-8700-45a5-b87d-52962791883d","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sharepointonline"}},"method":"patch","body":{"Email_Text":"@{toLower(body('GetUserProfile(emailText)')?['mail'])}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/HinesInformatics&AdvancedAnalytics/578_EHRM_TrainingApp'))}/tables/@{encodeURIComponent(encodeURIComponent('bef22a0b-4da8-4784-badc-b72c9f4457e1'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"ApplyToEach(body(GetManagerProfile(emailText(Business_Phones))))":{"foreach":"@body('GetManagerProfile(emailText)')?['businessPhones']","actions":{"Compose(body(GetManagerProfile(emailText(Business_Phones_Items))))":{"runAfter":{},"metadata":{"operationMetadataId":"f254d8b7-8340-46d2-9519-6dfc467cd251"},"type":"Compose","inputs":"@Concat(\r\n    'GetManagerProfile(emailText(Business Phones Items))): ',\r\n    items('ApplyToEach(body(GetManagerProfile(emailText(Business_Phones))))'),\r\n    ';   '\r\n)"}},"runAfter":{"Compose(GetManagerProfile(emailText(Business_Phones)))":["Succeeded"]},"metadata":{"operationMetadataId":"532f60ac-fde3-46a8-a3d6-5e21267dc38f"},"type":"Foreach"},"Compose(GetManagerProfile(emailText(Business_Phones)))":{"runAfter":{"ApplyToEach(body(GetUserProfile(emailText(Business_Phones))))":["Succeeded"]},"metadata":{"operationMetadataId":"a297652a-39fa-4448-b96f-3ff4b88a4a50"},"type":"Compose","inputs":"@Concat(\r\n    'GetManagerProfile(emailText(Business Phones)): ',\r\n    body('GetManagerProfile(emailText)')?['businessPhones'],\r\n    ';   '\r\n)"},"ApplyToEach(body(GetUserProfile(emailText(Business_Phones))))":{"foreach":"@body('GetUserProfile(emailText)')?['businessPhones']","actions":{"Compose(body(GetUserProfile(emailText(Business_Phones_Items))))":{"runAfter":{},"metadata":{"operationMetadataId":"72558f9d-7d4c-446c-a7a8-f7c37e728c47"},"type":"Compose","inputs":"@Concat(\r\n    'GetUserProfile(emailText(Business Phones Items)): ',\r\n    items('ApplyToEach(body(GetUserProfile(emailText(Business_Phones))))'),\r\n    ';   '\r\n)"}},"runAfter":{"Compose(GetUserProfile(emailText(Business_Phones)))":["Succeeded"]},"metadata":{"operationMetadataId":"3d75e839-80c5-4398-8e2a-008ec1886ec9"},"type":"Foreach"},"Compose(GetUserProfile(emailText(Business_Phones)))":{"runAfter":{"Delay(5,_second)_C":["Succeeded"]},"metadata":{"operationMetadataId":"428d91a8-69b4-445a-b6bf-c87da99c1801"},"type":"Compose","inputs":"@Concat(\r\n    'GetUserProfile(emailText(Business Phones)): ',\r\n    body('GetUserProfile(emailText)')?['businessPhones'],\r\n    ';   '\r\n)"},"Delay(5,_second)_C":{"runAfter":{"UpdateItem(emailText,_managerProfileDemographics)":["Succeeded"]},"metadata":{"operationMetadataId":"cbae539f-aa14-4ea6-a792-3f470c7d0640"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"UpdateItem(emailText,_managerProfileDemographics)":{"runAfter":{"GetManagerProfile(emailText)":["Succeeded"]},"metadata":{"operationMetadataId":"859b3d83-371d-4ad8-88ef-7ff16ea3a024","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sharepointonline"}},"method":"patch","body":{"Email_Text":"@{toLower(body('GetUserProfile(emailText)')?['mail'])}","Manager_Email_Person":{"Claims":"@body('GetManagerProfile(emailText)')?['mail']"},"Manager_Email_Text":"@{toLower(\r\nbody('GetManagerProfile(emailText)')?['mail']\r\n)}","Manager_DisplayName_Text":"@body('GetManagerProfile(emailText)')?['displayName']","Manager_JobTitle_Text":"@body('GetManagerProfile(emailText)')?['jobTitle']","Manager_FullAddress_Text":"@{body('GetManagerProfile(emailText)')?['companyName']} (@{body('GetManagerProfile(emailText)')?['department']}),\n@{body('GetManagerProfile(emailText)')?['officeLocation']},\n@{body('GetManagerProfile(emailText)')?['streetAddress']},\n@{body('GetManagerProfile(emailText)')?['city']}, @{body('GetManagerProfile(emailText)')?['state']}, @{body('GetManagerProfile(emailText)')?['postalCode']},\n@{body('GetManagerProfile(emailText)')?['country']}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/HinesInformatics&AdvancedAnalytics/578_EHRM_TrainingApp'))}/tables/@{encodeURIComponent(encodeURIComponent('bef22a0b-4da8-4784-badc-b72c9f4457e1'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}},"GetManagerProfile(emailText)":{"runAfter":{"Delay(5,_second)_B":["Succeeded"]},"metadata":{"operationMetadataId":"9d491b51-fa8e-4c26-aaeb-97227f50a131","flowSystemMetadata":{"swaggerOperationId":"Manager_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/office365users"}},"method":"get","path":"/codeless/v1.0/users/@{encodeURIComponent(toLower(triggerBody()?['Email_Text']))}/manager","authentication":"@parameters('$authentication')"}},"Delay(5,_second)_B":{"runAfter":{"UpdateItem(emailText,_userProfileDemographics)":["Succeeded"]},"metadata":{"operationMetadataId":"ba827355-d20f-4064-a86c-de6ed76ba964"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"UpdateItem(emailText,_userProfileDemographics)":{"runAfter":{"GetUserProfile(emailText)":["Succeeded"]},"metadata":{"operationMetadataId":"244feb11-3aae-4315-9e1b-fb9596e8f8f9","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sharepointonline"}},"method":"patch","body":{"Email_Text":"@{toLower(body('GetUserProfile(emailText)')?['mail'])}","Title":"@body('GetUserProfile(emailText)')?['id']","Email_Person":{"Claims":"@body('GetUserProfile(emailText)')?['mail']"},"GivenName_Text":"@body('GetUserProfile(emailText)')?['givenName']","Surname_Text":"@body('GetUserProfile(emailText)')?['surname']","Approver_Email_Person":{"Claims":"@triggerBody()?['Author']?['Email']"},"AccessStart_dateTime":"@{formatDateTime(\r\n    convertTimeZone(\r\n        utcNow(),\r\n        'UTC',\r\n        'Central Standard Time'\r\n        ),\r\n    'MM/dd/yyyy hh:mm tt'\r\n)}","AccessStop_dateTime":"@{formatDateTime(\r\n    addDays(\r\n        utcNow(),\r\n        180\r\n        ),\r\n    'yyyy-MM-ddTHH:mm:ssZ'\r\n)}","OverdueAccessReview_Choice":{"Value":"true"},"JobTitle_Text":"@body('GetUserProfile(emailText)')?['jobTitle']","DisplayName_Text":"@body('GetUserProfile(emailText)')?['displayName']","MailNickname_Text":"@body('GetUserProfile(emailText)')?['mailNickname']","UserPrincipleName_Text":"@body('GetUserProfile(emailText)')?['userPrincipalName']","Id_Text":"@body('GetUserProfile(emailText)')?['id']","mobilePhone_Text":"@body('GetUserProfile(emailText)')?['mobilePhone']","TelephoneNumber_Text":"@{concat(\r\n    body('GetUserProfile(emailText)')?['businessPhones']\r\n)}","BusinessPhones_Text":"@{body('GetUserProfile(emailText)')?['businessPhones']}","FullAddress_Text":"@{body('GetUserProfile(emailText)')?['companyName']} (@{body('GetUserProfile(emailText)')?['department']}),\n@{body('GetUserProfile(emailText)')?['officeLocation']},\n@{body('GetUserProfile(emailText)')?['streetAddress']},\n@{body('GetUserProfile(emailText)')?['city']}, @{body('GetUserProfile(emailText)')?['state']}, @{body('GetUserProfile(emailText)')?['postalCode']},\n@{body('GetUserProfile(emailText)')?['country']}","Approver_Email_Text":"@triggerBody()?['Author']?['Email']","Approver_DisplayName_Text":"@triggerBody()?['Author']?['DisplayName']","AccessStart_Text":"@{formatDateTime(\r\n    convertTimeZone(\r\n        utcNow(),\r\n        'UTC',\r\n        'Central Standard Time'\r\n        ),\r\n    'MM/dd/yyyy hh:mm tt'\r\n)}","AccessStop_Text":"@{formatDateTime(\n    addDays(\n        utcNow(),\n        180\n        ),\n    'yyyy-MM-ddTHH:mm:ssZ'\n)}","AccessLevel_Text":"@triggerBody()?['AccessLevel_Choice']?['Value']","PreferredName_Text":"@body('GetUserProfile(emailText)')?['preferredName']","Department_Text":"@body('GetUserProfile(emailText)')?['department']","OfficeLocation_Text":"@body('GetUserProfile(emailText)')?['officeLocation']","CompanyName_Text":"@body('GetUserProfile(emailText)')?['companyName']","StreetAddress_Text":"@body('GetUserProfile(emailText)')?['streetAddress']","City_Text":"@body('GetUserProfile(emailText)')?['city']","State_Text":"@body('GetUserProfile(emailText)')?['state']","PostalCode_Text":"@body('GetUserProfile(emailText)')?['postalCode']","Country_Text":"@body('GetUserProfile(emailText)')?['country']","PreferredLanguage_Text":"@body('GetUserProfile(emailText)')?['preferredLanguage']","MySite_Text":"@body('GetUserProfile(emailText)')?['mySite']","AboutMe_Text":"@body('GetUserProfile(emailText)')?['aboutMe']","Birthday":"@body('GetUserProfile(emailText)')?['birthday']","HireDate_Text":"@body('GetUserProfile(emailText)')?['hireDate']","UserType_Text":"@body('GetUserProfile(emailText)')?['userType']","Mail_Text":"@body('GetUserProfile(emailText)')?['mail']","utcNow_x0028__x0029__value":"@{utcNow()}","addMinutes_x0028_utcNow_x0028__x":"@{formatDateTime(\r\n    addMinutes(\r\n        utcNow(),\r\n        10\r\n        ),\r\n    'yyyy-MM-ddTHH:mm:ssZ'\r\n)}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dvagov.sharepoint.com/sites/HinesInformatics&AdvancedAnalytics/578_EHRM_TrainingApp'))}/tables/@{encodeURIComponent(encodeURIComponent('bef22a0b-4da8-4784-badc-b72c9f4457e1'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"description":"Create a custom action to happen when a new item is added to SharePoint. It could be sending an email, copying the item to a folder or web service, or more if you decide."},"connectionReferences":{"shared_office365users":{"connectionName":"241edaefcdae4a26a1d41bb0ff1712cc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sendmail":{"connectionName":"d56f400941d0458b8ac9d52111a29428","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified","apiName":"sendmail","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams":{"connectionName":"5ce14064d54c466a9f4339a354ebbaa3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"f3f51e7fd76043898aa98c3410ec147d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}